@charset "UTF-8";

body{
    background-color: rgba(37, 226, 37, 0.616);
    font-family: sans-serif;
}
h1{
    color: black;
}
h1#principal{
    color: black;
    background: rgb(25, 148, 25);
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 15px;
    width: max-content;
    padding-inline: 150px;
}
h2.basico{
    color: white;
    background-color: rgb(11, 53, 11);
    width: max-content;
    border-radius: 5px;
    padding: 3px;
}
h2.intermediario{
    color: white;
    background-color: rgb(17, 107, 17);
    width: max-content;
    border-radius: 5px;
    padding: 3px;
}
h2.avançado{
    color: white;
    background-color: rgb(26, 163, 26);
    width: max-content;
    border-radius: 5px;
    padding: 3px;
}
